/*
 * ThinkPad 小红点 (PS/2 TrackPoint) 配置
 * 仅在 keymap 中 #define HAS_MOUSE_TP 且 overlay 中定义 MOUSE_PS2_DT_PRESENT 时生效。
 */
#ifdef HAS_MOUSE_TP
#ifdef MOUSE_PS2_DT_PRESENT

&mouse_ps2_input_listener {
    layer-toggle = <1>;
    layer-toggle-delay-ms = <250>;
    layer-toggle-timeout-ms = <250>;
};

&mouse_ps2 {
    status = "okay";
};

&mouse_ps2_input_listener {
    status = "okay";
};

&uart0 {
    status = "okay";
};

&uart_ps2 {
    status = "okay";
};

#endif
#endif
